<%= form_with(
  model: [:admin, page],
  html: { "data-controller": "preserve-scroll file-upload-preview" },
) do |form| %>
  <% case params.fetch(:input, "text_field") when "text_field" %>
    <%= form.label(attribute, class: "u-visually-hidden") %>
    <%= form.text_field(attribute, class: "editable__field") %>
  <% when "text_area" %>
    <%= form.label(attribute, class: "u-visually-hidden") %>
    <%= form.text_area(attribute, rows: 1, class: "editable__field") %>
  <% when "rich_text_area" %>
    <%= form.label(attribute, class: "editable__label") do %>
      <%= form.rich_text_area(
        attribute,
        "aria-label": translate(attribute, scope: "helpers.label.page"),
      ) %>
    <% end %>
  <% when "file_field" %>
    <%= form.label(attribute) do %>
      <%= render(partial: "pages/image", locals: { image: page.public_send(attribute) }) %>

      <%= form.file_field(
        attribute,
        "aria-label": translate(attribute, scope: "helpers.label.page"),
        accept: "image/*",
        class: "u-visually-hidden",
        direct_upload: true
      ) %>
    <% end %>
  <% end %>

  <div class="editable__actions">
    <%= form.submit %>
    <%= form.button translate("helpers.submit.page.reset"), type: :reset %>
  </div>
<% end %>
