<%
  interpolations = local_assigns.fetch(:interpolations, {})
%>

<% if Current.admin_id.present? %>
<details
  class="editable"
  data-controller="editable"
  data-editable-attribute="value"
  data-editable-key="<%= (
    if local_assigns.key?(:index)
      "#{key}[#{index}]"
    else
      key
    end
  ) %>"
  data-editable-loaded-class="editable--loaded"
>
  <summary class="editable__summary">
    <span class="editable__summary-prompt">
      <%= translate(
        "translations.editable.edit_html",
        attribute: tag.span(
          translate(
            key,
            scope: [:translations, :keys],
            default: key,
          ),
          class: "u-visually-hidden",
        ),
      ) %>
    </span>
    <span class="editable__summary-prompt--open">
      <%= translate("translations.editable.cancel") %>
    </span>
  </summary>

  <%= form_with(
    url: edit_admin_attribute_translation_path("value", key),
    method: :get,
    html: { "data-controller": "attribute-form" },
  ) do |form|%>
    <% if local_assigns.key?(:index) %>
      <%= form.hidden_field(:index, value: index) %>
    <% end %>

    <%= form.hidden_field(:input, value: local_assigns[:input]) %>

    <% interpolations.each do |interpolation_key, interpolation_value| %>
      <%= form.fields(:interpolations) do |fields| %>
        <%= fields.hidden_field(interpolation_key, value: interpolation_value) %>
      <% end %>
    <% end %>
  <% end %>
</details>
<% end %>

<%= tag.span(
  class: [
    "editable__content",
    (
      if key.ends_with?("_html") || key.ends_with?(".html")
        "trix-content"
      end
    )
  ],
) do %>
  <% translate(key, interpolations).tap do |translation| %>
    <% if local_assigns.key?(:index) %>
      <% translation = translation.fetch(index) %>
    <% end %>

    <%= yield(translation).presence || translation %>
  <% end %>
<% end %>
