<%= form_with model: translation, class: "relative", data: {
  controller: "trix-form",
  action: token_list(
    { "trix-file-accept->trix-form#reject" => translation.plain? },
    { "trix-file-accept->trix-form#showToolbar" => translation.html? }, "
    trix-focus@document->trix-form#dismissDismissUnlessFocused
    click@document->trix-form#dismissUnlessContained
    focusout->trix-form#dismissUnlessContained
    reset->trix-form#dismiss
  ")
} do |form| %>
  <%= form.hidden_field :locale %>
  <%= form.hidden_field :key %>

  <trix-toolbar id="<%= dom_id(translation, :toolbar) %>" hidden>
    <div class="trix-button-row trix-button-row--end">
      <span class="trix-button-group" data-trix-form-target="toolbarAddition">
        <% tag.with_options class: "trix-button trix-button--icon", tabindex: -1 do |trix| %>
          <% if translation.interpolations.any? %>
            <%= trix.button type: :button, title: "Interpolations", data: { trix_action: "interpolations" } do %>
              <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="17" cy="17" r="1" />
                <circle cx="7" cy="7" r="1" />
                <line x1="6" y1="18" x2="18" y2="6" />
              </svg>
            <% end %>
          <% end %>

          <%= trix.button type: :submit, title: "Save" do %>
            <svg class="text-green-500" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <title>Save</title>
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M5 12l5 5l10 -10" />
            </svg>
          <% end %>

          <%= trix.button type: :reset, title: "Cancel" do %>
            <svg class="text-red-500" viewBox="0 0 24 24" fill="none" stroke-width="1.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <title>Cancel</title>
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <line x1="18" y1="6" x2="6" y2="18" />
              <line x1="6" y1="6" x2="18" y2="18" />
            </svg>
          <% end %>
        <% end %>
      </span>
    </div>

    <div class="trix-dialogs" data-trix-dialogs>
      <% if translation.interpolations.any? %>
        <div class="trix-dialog trix-dialog--interpolations" data-trix-dialog="interpolations" data-trix-form-target="dialogAddition">
          <table class="table-auto">
            <thead>
              <th>Placeholder</th>
              <th>Replacement</th>
            </thead>
            <tbody>
            <% translation.interpolations.each do |interpolation, argument| %>
              <tr>
                <th class="border p-2">%{<%= interpolation %>}</th>
                <td class="border p-2"><%= truncate(argument, length: 15) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </trix-toolbar>

  <%= rich_text_area_tag "translation[value]", translation.template,
    class: class_names("outline-none focus:shadow-outline min-h-0 border-0 p-0", { "trix-content": translation.html? }),
    aria: { label: translation.key },
    data: { trix_form_target: "editor" },
    toolbar: (dom_id(translation, :toolbar) if translation.plain?) %>
<% end %>
