<% if Current.admin_id.present? %>
<details
  class="editable"
  data-controller="editable"
  data-editable-attribute="<%= attribute %>"
  data-editable-loaded-class="editable--loaded"
>
  <summary class="editable__summary">
    <span class="editable__summary-prompt">
      <%= translate(
        "pages.editable.edit_html",
        attribute: tag.span(
          model.class.human_attribute_name(attribute),
          class: "u-visually-hidden",
        ),
      ) %>
    </span>
    <span class="editable__summary-prompt--open">
      <%= translate("pages.editable.cancel") %>
    </span>
  </summary>

  <%= form_with(
    url: edit_admin_attribute_page_path(attribute, model),
    method: :get,
    html: { "data-controller": "attribute-form" },
  ) do |form|%>
    <%= form.hidden_field(:input, value: local_assigns[:input]) %>
  <% end %>
</details>
<% end %>

<span class="editable__content">
  <%= model[attribute] %>
</span>
