<header class="page-section">
  <section class="hero hero__container">
    <div class="hero__block">
      <h1 class="type-heading type-heading--1">
        <%= render partial: "translations/editable", locals: {
          key: "pages.index.hero.headline",
          input: :text_area,
        } %>
      </h1>

      <div class="type-body type-body--3">
        <%= render partial: "translations/editable", locals: {
          key: "pages.index.hero.content",
          input: :text_area,
        } %>
      </div>
    </div>

    <div class="hero__block hero__block--image">
      <img
        class="image--fit"
        alt="thoughtbot's designers and developers"
        src="https://images.prismic.io/thoughtbot-website/41a0b62e-40e6-46b2-aefa-d0b57935bf50_hero-home.png"
      >
    </div>
  </section>
</header>

<section class="page-section">
  <header>
    <h2 class="type-heading type-heading--eyebrow">
      <%= render partial: "translations/editable", locals: {
        key: "pages.index.list.headline",
        input: :text_field,
      } %>
    </h2>

    <div class="type-heading type-heading--2">
      <%= render partial: "translations/editable", locals: {
        key: "pages.index.list.content",
        input: :text_area,
      } %>
    </div>
  </header>

  <ul class="grid">
    <% pages.each_with_index do |page, index| %>
      <li class="grid__card <%= "grid__card--featured page-card--featured" if index.zero? %>">
        <div class="page-card__image">
          <%= render layout: "pages/editable", locals: {
            attribute: :hero_image,
            input: :file_field,
            model: page,
          } do |hero_image| %>
            <%= render(partial: "pages/image", locals: { image: hero_image }) %>
          <% end %>
        </div>

        <div class="page-card__text">
          <div class="page-card__featured-label type-heading--eyebrow">
            <%= render partial: "translations/editable", locals: {
              key: "pages.index.list.featured",
              input: :text_field,
            } %>
          </div>

          <h3 class="type-heading type-heading--3">
            <%= render(partial: "pages/editable", locals: {
              model: page,
              attribute: :name,
              input: :text_field,
            }) %>
          </h3>

          <div class="type-body type-body--2">
            <%= render(partial: "pages/editable", locals: {
              model: page,
              attribute: :headline,
              input: :text_area,
            }) %>
          </div>

          <%= render layout: "translations/editable", locals: {
            key: "pages.index.links.show",
            input: :text_field,
          } do |translation| %>
            <%= link_to page_path(page), class: "call-to-action" do %>
              <%= translation %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<section class="page-section">
  <header>
    <h2 class="type-heading type-heading--eyebrow">
      <%= render partial: "translations/editable", locals: {
        key: "pages.index.services.headline",
        input: :text_field,
      } %>
    </h2>

    <div class="type-heading type-heading--2">
      <%= render partial: "translations/editable", locals: {
        key: "pages.index.services.introduction",
        input: :text_area,
      } %>
    </div>
  </header>

  <div class="split-block split-block--3">
    <div class="split-block--double">
      <%= render partial: "translations/editable", locals: {
        key: "pages.index.services.content_html",
        input: :rich_text_area,
      } %>
    </div>

    <div class="split-block--single">
      <h3 class="type-heading type-heading--eyebrow">
        <%= render(partial: "translations/editable", locals: {
          key: "pages.index.services.value.headline",
          input: :text_field,
        }) %>
      </h3>

      <ul class="list--unstyled">
        <% translate("pages.index.services.value.items").each_with_index do |translation, index| %>
          <li>
            <%= render(partial: "translations/editable", locals: {
              key: "pages.index.services.value.items",
              index: index,
              input: :text_area,
            }) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
