<article class="page">
  <section class="page__hero">
    <%= page.hero_text %>

    <%= render(
      partial: "pages/edit_button",
      locals: { attribute: :hero_text, page: page },
    ) %>
  </section>

  <section class="page__headline">
    <%= page.headline_text %>

    <%= render(
      partial: "pages/edit_button",
      locals: { attribute: :headline_text, page: page },
    ) %>
  </section>

  <section class="page__body">
    <%= page.body_text %>

    <%= render(
      partial: "pages/edit_button",
      locals: { attribute: :body_text, page: page },
    ) %>
  </section>
</article>
