<h1>
  <%= page.hero_text %>
  <details>
    <summary>
      <%= translate(".edit") %>
    </summary>

    <%= form_with(model: [:admin, page]) do |form| %>
      <%= render(form, attribute: :hero_text) %>
    <% end %>
  </details>
</h1>

<h1>
  <%= page.headline_text %>
  <details>
    <summary>
      <%= translate(".edit") %>
    </summary>

    <%= form_with(model: [:admin, page]) do |form| %>
      <%= render(form, attribute: :headline_text) %>
    <% end %>
  </details>
</h1>

<div>
  <%= page.body_text %>
  <details>
    <summary>
      <%= translate(".edit") %>
    </summary>

    <%= form_with(model: [:admin, page]) do |form| %>
      <%= render(form, attribute: :body_text) %>
    <% end %>
  </details>
</div>
