<h1 data-i18n-key="examples.index.title">
  <%= translate(".title") %>

  <%= render(
    partial: "admin/translations/edit_button",
    locals: { key: "examples.index.title" },
  ) %>
</h1>

<div data-i18n-key="examples.index.hero_html">
  <%= translate(".hero_html") %>

  <%= render(
    partial: "admin/translations/edit_button",
    locals: { key: "examples.index.hero_html" },
  ) %>
</div>

<div data-i18n-key="examples.index.example.html">
  <%= translate(".example.html") %>

  <%= render(
    partial: "admin/translations/edit_button",
    locals: { key: "examples.index.example.html" },
  ) %>
</div>

<div data-i18n-key="examples.index.body">
  <%= translate(".body") %>

  <%= render(
    partial: "admin/translations/edit_button",
    locals: { key: "examples.index.body" },
  ) %>
</div>

<% translate(".list_items").each_with_index do |translation, index| %>
  <div data-i18n-key="examples.index.list_items">
    <%= translation %>

    <%= render(
      partial: "admin/translations/edit_button",
      locals: { key: "examples.index.list_items", index: index },
    ) %>
  </div>
<% end %>
