<h1 data-i18n-key="examples.index.title">
  <%= translate(".title") %>

  <%= render(
    partial: "admin/translations/edit_button",
    locals: { key: "examples.index.title" },
  ) %>
</h1>

<div data-i18n-key="examples.index.hero_html">
  <%= translate(".hero_html") %>

  <%= render(
    partial: "translations/edit_button",
    locals: { key: "examples.index.hero_html" },
  ) %>
</div>

<div data-i18n-key="examples.index.example.html">
  <%= translate(".example.html") %>

  <%= render(
    partial: "translations/edit_button",
    locals: { key: "examples.index.example.html" },
  ) %>
</div>

<div data-i18n-key="examples.index.body">
  <%= translate(".body") %>

  <%= render(
    partial: "admin/translations/edit_button",
    locals: { key: "examples.index.body" },
  ) %>
</div>
