<!DOCTYPE html>
<html>
  <head>
    <title>ContentAuthoring</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if Current.admin_id.present? %>
          <%= form_with(scope: :session, url: session_path, method: :delete) do |form| %>
            <%= form.submit translate("helpers.submit.session.destroy") %>
          <% end %>
        <% else %>
          <%= form_with(scope: :session, url: sessions_path) do |form| %>
            <%= form.submit translate("helpers.submit.session.create") %>
          <% end %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
