<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ContentAuthoring</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="frame">
    <header class="frame__header">
      <nav>
        <%= link_to root_path do %>
          Content Authoring
        <% end %>

        <% if Current.admin_id.present? %>
          <%= form_with(scope: :session, url: session_path, method: :delete) do |form| %>
            <%= form.submit translate("helpers.submit.session.destroy") %>
          <% end %>
        <% else %>
          <%= form_with(scope: :session, url: sessions_path) do |form| %>
            <%= form.submit translate("helpers.submit.session.create") %>
          <% end %>
        <% end %>
      </nav>
    </header>

    <main class="frame__main">
      <%= tag.output(flash.alert) %>

      <%= yield %>
    </main>

    <footer class="frame__footer">
      <section class="page-section">
        <h2 class="type-heading type-heading--2">
          Hire us to help you build a great application
        </h2>
      </section>
    </footer>
  </body>
</html>
